node_modules
.DS_Store
dist
dist-ssr
*.local
.env*
.tanstack
.wrangler
.output
.vinxi
__unconfig*
todos.json

# typescript
*.tsbuildinfo
src/routeTree.gen.ts

# playwright e2e
e2e/.auth/
test-results/
playwright-report/
